.card-holder {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: $card-holder-height;
  justify-content: center;
  margin: 0 auto;
  padding: 0 50px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  @include max-screen(map-get($breakpoints, miniDesktop)) {
    max-height: ($card-holder-height / 1vh) * ($tablet-max-height / 100) * 1px
  }
}

.card {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
  display: flex;
  font-size: 16px;
  height: 100px;
  justify-content: center;
  margin: 10px;
  width: 100px;
  @include accelerate(transform);

  &.win {
    box-shadow: inset 0px 0px 0px 10px #00BCD4;
  }

  &:hover {
    cursor: grab;
    cursor: -webkit-grab;
  }
}
