.dest {
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, .1);
  display: flex;
  height: $dest-height;
  width: 100%;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  @include max-screen(map-get($breakpoints, miniDesktop)) {
    max-height: ($dest-height / 1vh) * ($tablet-max-height / 100) * 1px
  }
}

.dest-opt {
  align-content: center;
  border-right: 1px solid #ccc;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 40px;
  position: relative;
  width: 100%;

  &:last-child {
    border: none;
  }

}

.dest-opt-header {
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
}

.dest-holder {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.dest-opt:last-child .dest-opt-header:after {
  content: '🚫';
  font-size: 1.5em;
  left: 50%;
  opacity: .8;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -38%);
}
