.dest {
  border-radius: 5px 5px 0 0;
  bottom: 0;
  box-shadow: 0 -4px 10px 1px rgba(0, 0, 0, .1);
  display: flex;
  height: 15vh;
  position: absolute;
  width: 100%;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.dest-opt {
  align-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  display: flex;
  flex: 1 1 auto;
  font-size: 40px;
  justify-content: center;
  position: relative;

  &:last-child {
    border: none;
  }
}

.no-start:after {
  content: '🚫';
  font-size: 1.5em;
  left: 50%;
  opacity: .8;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -38%);
}
