.green-mark {
  align-items: center;
  bottom: 0;
  display: none;
  font-size: 70px;
  height: $card-holder-height;
  justify-content: center;
  left: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
